amqp==2.3.2
aniso8601==3.0.0
APScheduler==3.5.3
Babel==2.5.1
billiard==3.5.0.3
boto3==1.9.74
botocore==1.12.74
celery==4.2.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
docutils==0.14
Flask==1.0.2
Flask-APScheduler==1.8.0
Flask-RESTful==0.3.6
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
kombu==4.2.2.post1
MarkupSafe==1.0
pycurl==7.43.0.2
pydash==4.7.4
PyJWT==1.7.1
pymongo[srv]==3.7.2
python-dateutil==2.7.3
python-dotenv==0.10.0
pytz==2017.3
requests==2.21.0
s3transfer==0.1.13
six==1.11.0
tzlocal==1.5.1
urllib3==1.24.1
vine==1.1.4
Werkzeug==0.14.1
